NOME_PROJETO="Libri"
HASH="L1bri2026"

PRODUCAO="0"
AMBIENTE_FECHADO="0"
REFERENCIA="http://localhost/Libri"
INTERNACIONALIZACAO="0"

DEBUG="0"
DEBUG_EXIBIR_TRACE="0"

DIR_RAIZ=""
DIR=""
DIR_REPOSITORIO=""

URL="http://localhost/Libri"
URL_REPOSITORIO="http://localhost/Libri/repositorio"

BD_ENDERECO="localhost"
BD_BASE="libri"
BD_PORTA=3307
BD_USUARIO=root
BD_SENHA=""