Options -Indexes
RewriteEngine On

#404
ErrorDocument 404 /404

#Home
RewriteRule ^\/?$ requisicao/index.php?diretorio=home [NC,QSA]

# Exibindo a página de edição
RewriteRule ^([a-z_-]+)\/(editar)\/([0-9]+)\/?$ requisicao/index.php?acao=$2&diretorio=$1&id=$3 [NC,L,QSA]

#Salvando registros
RewriteRule ^([a-z_-]+)\/salvar\/?$ requisicao/index.php?modelo=$1&acao=novo&diretorio-tratamento=acoes&tipo=tratamento [NC,L]

#Excluindo e editando registros
RewriteRule ^(editar|excluir)/([a-z_-]+)/([0-9]+)/?$ requisicao/index.php?modelo=$2&id=$3&acao=$1&diretorio-tratamento=acoes&tipo=tratamento [NC,L]

# Paginacao
RewriteRule ^paginacao\/([a-z]+)\/?$ requisicao/index.php?modelo=$1&acao=paginacao&diretorio-tratamento=paginacao&pagina=$2&tipo=tratamento [NC,L,QSA]

#Módulo, ação e identificador
RewriteRule ^([a-z0-9_-]+)\/?$ requisicao/index.php?diretorio=$1 [NC,L,QSA]
RewriteRule ^([a-z0-9_-]+)\/([a-z0-9_-]+)\/?$ requisicao/index.php?diretorio=$1&acao=$2 [NC,L,QSA]

#Redirects
RewriteRule ^php/([a-z,0-9,_-]+)\/([a-z,0-9,_.-]+)\/?$ https://github.com/Major2571/Libri [R=301,NC]
RewriteRule ^php/([a-z,0-9,_-]+)\/?$ https://github.com/Major2571/Libri [R=301,NC]
RewriteRule ^html/([a-z,0-9,_-]+)\/([a-z,0-9,_.-]+)\/?$ https://github.com/Major2571/Libri [R=301,NC]
RewriteRule ^html/([a-z,0-9,_-]+)\/?$ https://github.com/Major2571/Libri [R=301,NC]
RewriteRule ^submit/([a-z,0-9,_-]+)\/?$ https://github.com/Major2571/Libri [R=301,NC]
RewriteRule ^submit/([a-z,0-9,_-]+)\/([a-z,0-9,_.-]+)\/?$ https://github.com/Major2571/Libri [R=301,NC]

#Fallback para rotas não mapeadas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ requisicao/index.php [NC,L,QSA]