// Footer
// *******************************************************************************

@mixin template-footer-style($parent, $bg, $color: null, $active-color: null, $border: null) {
  $colors: get-navbar-prop($bg, $active-color, $color, $border);

  #{$parent} {
    background-color: map-get($colors, bg) !important;
    font-family: var(--bs-font-monospace);
    font-size: 12px;
    letter-spacing: 0.2px;
    color: rgba(27, 38, 32, 0.45);

    .footer-link {
      color: map-get($colors, color);

      &:hover,
      &:focus {
        color: map-get($colors, active-color);
      }

      &.disabled {
        color: map-get($colors, disabled-color) !important;
      }
    }

    // copyright/créditos herdam a cor apagada do rodapé, não a cor de "ativo" dos links
    .footer-text {
      color: inherit;
    }

    .show > .footer-link,
    .active > .footer-link,
    .footer-link.show,
    .footer-link.active {
      color: map-get($colors, active-color);
    }

    hr {
      border-color: map-get($colors, border);
    }
  }
}